

article{
    background-color: rgb(235, 194, 194);
background-size: cover;
min-height: 40em;
color: rgb(0, 0, 0);
}

form{
 text-transform: capitalize; 
 margin-top: 6%;    
 font-size: 1.3em;
}




input {
    display: block;
    height:3em;
    margin: auto;
    width: 50%;
}






.btn-cad{
    background-color: rgb(103, 28, 150);
    color: white;
    border: 1px solid darkblue;
}


.btn-cancel{
    color: white;
    background:rgb(216, 62, 62);
}


